.round {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #B0E0E6;
    display: inline-block;
}

.roundWhite {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
}